In [9]:
tel_base = {"Mihail":"89124298352394"}
tel_base["Ivan"] = "9357938457349857"
tel_base.update({"Ivan":None,"Anastasia":"123124234234"})
if "Ivan" in tel_base.keys():print(123)
print(tel_base.get("Ivan"))

None

In [14]:
for i in tel_base.values():
    print(i)

89124298352394
None
123124234234

In [1]:
salary = 150000
name = "Данил"
print(f"У {name} зарплата в месяц {salary}")
print(f"Итого в год: {12*salary}")

У Данил зарплата в месяц 150000
Итого в год: 1800000

In [17]:
employee = {
    "name":"Данил","salary":150000
}
print(f"У {employee['name']} зарплата в месяц {employee['salary']}")
print(f"Итого в год: {12*employee['salary']}")

У Данил зарплата в месяц 150000
Итого в год: 1800000

In [14]:
empoloyees_list= [
    {"name":"Данил","salary":150000},
    {"name":"Виктор","salary":145000},
    {"name":"Анна","salary":155000},
]
for employee in empoloyees_list:
    print(f"У {employee['name']} зарплата в месяц {employee['salary']}")
    print(f"Итого в год: {12*employee['salary']}")
rem = "Виктор"
# for employee in empoloyees_list:
#     if employee['name'] == rem:
#         empoloyees_list.remove(employee)
#         break
empoloyees_list = [i for i in empoloyees_list if i["name"]!=rem]
print(empoloyees_list)
employee_new = {
    "name":"Елена","salary":165000
}
empoloyees_list.extend([employee_new])
print(empoloyees_list)

У Данил зарплата в месяц 150000
Итого в год: 1800000
У Виктор зарплата в месяц 145000
Итого в год: 1740000
У Анна зарплата в месяц 155000
Итого в год: 1860000
[{'name': 'Данил', 'salary': 150000}, {'name': 'Анна', 'salary': 155000}]
[{'name': 'Данил', 'salary': 150000}, {'name': 'Анна', 'salary': 155000}, {'name': 'Елена', 'salary': 165000}]

In [3]:
class Employee:
    def __init__(self,name,salary,on_vacation = False, is_good_employee = True):
        self.name = name
        self.salary = salary
        self.on_vacation = on_vacation
        self.is_good_employee = is_good_employee
    def info(self):
        print(f"У {self.name} зарплата в месяц {self.salary}, {self.on_vacation}, {self.is_good_employee}")
    def __str__(self):
        return f"У {self.name} зарплата в месяц {self.salary},не в отпуске: {'да' if self.on_vacation else 'нет'},хороший работник {'да' if self.is_good_employee else 'нет'}"
employees = [Employee('Данил', 200_000, True), Employee('Никита', 250_000), Employee('Ваня', 150_000), Employee('Ольга', 150_000), Employee('Олег', 150_000,is_good_employee = False)]
employees  = [i for i in employees if i.is_good_employee==True]
for i in employees:
    print(i)

У Данил зарплата в месяц 200000,не в отпуске: да,хороший работник да
У Никита зарплата в месяц 250000,не в отпуске: нет,хороший работник да
У Ваня зарплата в месяц 150000,не в отпуске: нет,хороший работник да
У Ольга зарплата в месяц 150000,не в отпуске: нет,хороший работник да

In [28]:
a="".join(['asd','123',"sdfsdfsd"])
print(a)

asd123sdfsdfsd

In [30]:
def intro():pass

In [3]:
salary = 150000
name = "Данил"
print(f"y {name} зарплата в месяц {salary}") 
print(f"Итого в год:{12*salary}")

y Данил зарплата в месяц 150000
Итого в год:1800000